@import "bootstrap/bootstrap.less";
@import "lesshat/lesshat.less";


//Twitch Colors
@twitch-purple: 		#6441A5;
@twitch-light-purple: 	#B9A3E3;
@twitch-dark-grey: 		#262626;
@twitch-light-grey: 	#F1F1F1;


//Colors for Stream Buttons

@stream-idle: 			@twitch-light-grey;
@stream-selected: 		darken(@twitch-light-grey, 40%);
@stream-hover: 			darken(@twitch-light-grey, 20%);

html{
	height: 100%;
}
body{
	height: 100%;
	.background-image(linear-gradient(top, @twitch-dark-grey 0%, #0e0e0e 100%));
}

.stream-logo{
}

.streamer{
	height: 100%;
	margin: 5px 10px 5px 10px;
	cursor: pointer;
	.border-radius(5px);
	background-color: @stream-idle;
	width: 400px;
	height: 100px;
	overflow: hidden;

	
}
.streamer:hover{
		background-color: @stream-hover;
}

//stream button elements

.stream-logo{
	display: block;
}

.stream-viewers{
	float: right;
}

.selected-stream{
	background-color: @stream-selected;
}